body {
    text-align: center;
    margin: auto;
    background-color: #9052fb;
    color: yellow;
}
.btn {
    height: 140px;
    width: 140px;
    border-radius: 20%;
    border: 3px solid black;
    margin: 1.5rem;
    box-shadow: 6px 6px 10px black;
}
.btn-container {
    display: flex;
    justify-content: center;
}
.orange {
    background-color: #f99b45;
}
.pink {
    background-color: #d95980;
}
.blue {
    background-color: #819ff9;
}
.teal {
    background-color: #63aac0;
}
.flash {
    background-color: white;
}
.userflash {
    background-color: green;
}
.text {
    font-weight: 700;
    font-size: 30px;
}
